body{
	margin: 10px 10px;
	pading:  10px;
	font-family: Roboto, sans-serif;
    min-width: 400px;
}

input{
	width: 100%;
	box-sizing: border-box;
	border: 2.8px outset #AA3F42;
	padding: 10px;
	margin-bottom: 5px;
	 border-radius: 5px;
}

button{
	background-color: #AA3F42;
	color: white;
	font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
}
#del-el{
	background-color: white;
	color: #AA3F42;
	border-color: #AA3F42;
}

li{
	list-style: numbers;
	
}

a{
	color: #521f20;
}
